<form class="example-form cust">
  <mat-form-field class="example-full-width mt-10">
    <mat-label>Search Cities</mat-label>
    <input matInput name="query" placeholder="Search Cities" [(ngModel)]="query">
    <button *ngIf="query" matSuffix mat-icon-button aria-label="Clear" (click)="query=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="button-row" style="margin-left: 10px;">
    <button mat-raised-button color="primary" (click)="search(query)">Submit</button>
  </div>
</form>

<div *ngIf="errMsg?.message" class="container">
  {{ errMsg.cod }} | {{ errMsg.message }}
</div>
<!-- {{ weather?.city }} | {{ weather?.main.temp}} -->
